#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  min-width: 800px;
  border-collapse: collapse;
  background-color: #14102b;
  color: #ffffff
}

table td,
table th {
  padding: 8px;
  border: 1px solid rgb(151, 149, 149);
}

.light-backg{
  background-color: #2d245e;
}

.market-prices {
  display: flex;
justify-content: space-around;
}